@font-face {
    font-family: 'Regular'; 
    src: url('../font/static/Unbounded-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'Bold';
    src: url('../font/static/Unbounded-Bold.ttf')format('truetype');
    font-weight: 500; 
    font-style: normal; 
}
@font-face {
    font-family: 'ExtraBold';
    src: url('../font/static/Unbounded-ExtraBold.ttf')format('truetype');
    font-weight: 700; 
    font-style: normal; 
}

:root {
    --primary-color: #0F204B;
    --secondary-color: #ea781b;

    /* Heading font variable */
    --regular-font: 'Regular';
    --bold-font: 'Bold';
    --extrabold-font: 'ExtraBold';

    /* Define heading font size variables */
    --h1-font-size: 4.1rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 30px;
    --h4-font-size: 25px;
    --h5-font-size: 1rem;
    --h6-font-size: 0.9rem;
    --body-font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: var(--regular-font);
    width: 100%;
    height: 100%;
}